.Top{
  
  text-transform: uppercase;
  text-size-adjust: 2%;
  background-color: rgb(132, 225, 132);
  text-indent: 5%;
  

}

.header{
  text-decoration: none;
  padding: 6%;
  text-decoration-thickness: 2px;
   ;
}